[2019-04-04 11:08] aghaynes opened #1 "export with reference values in separate table"
for testing factorize (branch in my repo)

[2019-04-04 11:10] aghaynes opened #2 "example data set with a date"
for testing of dates functionality

[2019-04-04 11:10] aghaynes commented on #2
a datetime variable probably makes sense too

[2019-04-17 08:51] aghaynes opened #5 "data where data shouldn't be"
Say that we have variable Y that is only shown when variable X is yes. In participant AA, variable X is yes, and variable Y is entered. Sometime later, it is discovered that variable X is actually no. This is changed in the database. Secutrial, however, retains the value of variable Y without giving warnings.

It is perhaps possible that this is covered by the validation overview...

@PatrickRWrig

[2019-04-29 07:20] PatrickRWright commented on #5
Good observation. Technically I would consider this something to be changed within secuTrial itsself. I'll look into it.

[2019-04-29 12:43] PatrickRWright opened #9 "Supply more complex CDMA and example data"
The current example data (bone mineral denisty - bmd) is too small to allow rigorous testing of all functionalities. Thus a more complex eCRF/CDMA with data should be implemented and included into the package data. The data will likely be randomly generated from an appropriate range.

Types to be included:
- several differing visits
- casenodes (including SAE)
- repetitions
- scores
- a catalogue

[2019-04-29 13:00] aghaynes commented on #9
related to #2

[2019-04-29 13:01] aghaynes commented on #2
closed as superseded by #9

[2019-04-29 13:01] #2 closed

[2019-04-29 13:48] PatrickRWright commented on #1
Such an export is now [here](https://github.com/SwissClinicalTrialOrganisation/secuTrialR/blob/master/inst/extdata/s_export_CSV-xls_longnames_ref_val_sep_BMD.zip)

[2019-04-29 13:48] #1 closed

[2019-04-30 12:46] PatrickRWright commented on #9
https://github.com/SwissClinicalTrialOrganisation/secuTrialR/tree/master/inst/extdata

[2019-04-30 12:47] #9 closed

[2019-05-03 06:30] markomi opened #10 "feature request: support data exports in german"
Currently, secuTrialR only works with data exports that have been made in English. We have a bunch of scripts that rely on data exports that have been made in German. Thus, for a bunch of projects, it is not possible to easily start using secuTrialR.
Because of this, I'd like to ask if you could add German language support for secuTrialR.
Let me know if I can help somehow.
Best,
M.

[2019-05-03 06:39] aghaynes commented on #10
This predominantly affects the `load_export_options` function I think. This function parses the html export options file to get the necessary info.
Feel free to try and generalize.
Can you attach an example export options file from such an export?

[2019-05-03 07:39] markomi commented on #10
i'll send you a download link per email in a minute.

[2019-05-03 07:46] PatrickRWright commented on #10
If we add these things we will need example data in the package though too. For testing etc.

[2019-05-03 09:12] markomi commented on #10
Makes sense. Then I'll let you evaluate if you want to add this functionality. And if you do, I'll create an example data set. If you need example data for the evaluation process, let me know.

[2019-05-03 09:34] aghaynes commented on #10
From my perspective, if there's a group of potential users that would need it, then we can do it, particularly if there's such a user willing to contribute (nudge nudge wink wink @markomi).
If @PatrickRWright or I have to do the work, then it will have to wait until we have time...

In either case, as @PatrickRWright  says, we need a reasonable example dataset for testing purposes (ideally with al

[2019-05-03 09:53] markomi commented on #10
Ah so one has to be careful what one wishes for ;) I'll check out if I can make a contribution.
And I'll try to find out if there are other people at our office who need german language support and will get back in touch.

[2019-05-06 15:08] PatrickRWright opened #11 "visit_structure"
1. allow for flexible visit plan
2. prepare test data with fixed visit plan

[2019-05-07 06:29] aghaynes commented on #11
including the flexible visit plan will be difficult I think, because without the mnpvisno, there's no way to link the forms to the visit (that I know of currently)

[2019-05-07 09:58] aghaynes opened #13 "piping"
Check to see if piping works

[2019-05-08 07:23] aghaynes opened #15 "handle audit trail in links better (remove by default?)"
including audit trail includes basically all variables (because there's a filter that variables occuring more than once should be included), obscuring the import stuff - the linking variable

![image](https://user-images.githubusercontent.com/6594028/57357331-f741b600-7172-11e9-825a-7a4d60a8b652.png)

[2019-05-08 07:29] aghaynes commented on #13
it does! include in readme? @PatrickRWright what do you think?

[2019-05-08 07:33] PatrickRWright commented on #13
do you have an example?

[2019-05-08 07:34] aghaynes commented on #13
[code]

[2019-05-08 07:35] aghaynes commented on #13
`%>%` comes from `magrittr` (just in case you're not aware)

[2019-05-08 07:39] PatrickRWright commented on #13
Yes, I just haven't been using it much (yet). Great that this works. I think its a good idea to have it in the readme.

[2019-05-08 09:24] #13 closed

[2019-05-09 08:18] aghaynes opened #17 "recommended export options"
Add a screen shot with recommended export options

[2019-05-09 08:21] aghaynes opened #18 "one function to ru(n/le) them all"
wrap load, factorize, dates into a single function for convenience

[2019-05-09 08:21] aghaynes commented on #18
excuse the lord of the rings pun

[2019-05-09 08:23] aghaynes commented on #18
feature request by @a-lenz

[2019-05-09 08:54] aghaynes opened #19 "import doesnt work with csv"
Something about the csv export (NOT CSV for MS EXCEL) doesnt work...
Metadata is not identified, files do not import (an error about replacing something with 0 rows with N rows).

[2019-05-09 09:14] aghaynes commented on #19
see line 108 of load_export_options... I think that's the culprit

[2019-05-09 09:17] aghaynes commented on #19
Why is it in there at all?

[2019-05-09 09:33] aghaynes commented on #19
see #16

[2019-05-09 09:34] aghaynes opened #20 "visit_structure doesnt seem to work sometimes"

[2019-05-09 09:35] aghaynes commented on #20
appears to be a problem with lines 36/37 (reordering of the columns)

[2019-05-09 09:40] aghaynes commented on #19
once the codecov PR is pulled, this is solved

[2019-05-09 09:40] #19 closed

[2019-05-16 09:46] witchi opened #22 "Handle different versions of R packages"
How you handle the different versions of additional packages in R? Our statisticians can update the packages and R/RStudio, but often our own scripts will only work with a special version of R and special versions of the used packages, which we refer on the scripts. Do you have a solution to specify the package versions (and dependencies) and the R version within the script?

It is not possible to

[2019-05-16 09:59] aghaynes commented on #22
This question isn't specifically to do with secuTrialR, so there are better forums for such questions (e.g. StackOverflow, twitter using the #rstats tag or one of the r users mailing lists). Never the less,  I'll give you some suggestions...

The best thing that I know of is to print `sessionInfo()` for any given analysis. That will tell what versions of packages were used for the analysis (assumi

[2019-05-16 09:59] #22 closed

[2019-05-16 14:12] PatrickRWright commented on #17
Do we have agreement on what those should be?

[2019-05-17 06:30] aghaynes commented on #17
I dont think so, but I would suggest something like this
![image](https://user-images.githubusercontent.com/6594028/57907323-61e2a800-787d-11e9-8e7a-cfec6a75613c.png)
I'm not sure about the parts in yellow though. They can be useful sometimes
Shorten names I'm not so concerned about, as secuTrialR handles that either way.
Character Encoding might be an issue - UTF-8 perhaps?
Maybe it would be good

[2019-05-20 06:20] PatrickRWright commented on #17
I think UTF-8 is good. Once we have agreed on the recommended set we should maybe also add an FYI warning when the export is being loaded and some things differ.

[2019-05-20 08:50] aghaynes commented on #17
Sure. Most of that can then go into the export options function I suppose...
Did you agree with my suggestion then or would you go a different route?

[2019-05-20 11:48] #18 closed

[2019-05-20 12:11] PatrickRWright opened #25 "function names: load -> read"
@gillesdutilh suggested that read may be more appropriate than load for our function names.

e.g.:
load_export_table.R -> read_export_table.R

[2019-05-20 12:31] aghaynes commented on #25
i dont know about appropriate, but it would certainly be more consistent with the rest of the R...

[2019-05-20 12:41] PatrickRWright commented on #25
I think that was pretty much exactly how the suggestion was originally worded. I would say we make the changes. Basically some simple "search and replace". I can handle that maybe later this week. Any objections from your side?

[2019-05-20 12:45] aghaynes commented on #25
not at all

[2019-05-20 13:09] gillesdutilh commented on #25
Oops, sorry for not getting back to this!
Gilles

Op ma 20 mei 2019 om 14:45 schreef Alan Haynes <notifications@github.com>:

[2019-05-21 06:46] #25 closed

[2019-05-21 13:16] PatrickRWright opened #27 "Update technical drawing of the package architecture"
Current:
https://github.com/SwissClinicalTrialOrganisation/secuTrialR/blob/master/inst/extdata/secuTrialR.png

Following may be useful:
https://cran.r-project.org/web/packages/Gmisc/vignettes/Grid-based_flowcharts.html
https://cran.r-project.org/web/packages/CodeDepends/vignettes/intro.html

[2019-05-27 12:49] PatrickRWright opened #32 "incomplete dates"
They currently turn to `NA` and a warning is given for variables where not all dates were completely parsed.

This includes e.g. `mm.yyyy` types which are also currently not parsed. e.g. `tes05fuvisit$v_date_mmyyyy`

TES05 contains examples.

The current idea is not to implement any further functionality to remedy this issue but to write a section in the vignette which addresses this issue and poi

[2019-05-28 10:49] aghaynes commented on #5
Can you look into this?
 [ ] create some should-be-missing-but-not data (in CTU05?)
 [ ] create the relevant exports
 [ ] check for whether the issues flag in the validation export
 [ ] changes to `assess_form_variable_completeness`?

[2019-05-28 11:55] PatrickRWright commented on #5
Quick Intro to my test. In CTU05 there is a form "allmedi". I can enter data into two freetext fields via catalogue. If I tick a checkbox "No further medication" these text fields disappear. I did the same type of test with a radio button based rule.

1. "Secutrial, however, retains the value of variable Y without giving warnings." If X ist set to "no" then the data in Y will be removed (-> its no

[2019-05-28 12:18] aghaynes commented on #5
great...then maybe it's an issue with the version of secutrial that we're using...

[2019-05-28 12:19] aghaynes commented on #5
thanks for looking into it! :)

[2019-05-28 12:19] aghaynes commented on #5
thanks for looking into it! :)

[2019-05-28 12:19] #5 closed

[2019-06-04 06:31] aghaynes commented on #27
See PR #35

[2019-06-04 07:01] #27 closed

[2019-06-04 08:19] aghaynes opened #36 "project version in export options"
add project version to export options so that it's easier to tell if there are changes to the database

[2019-06-04 09:04] aghaynes opened #37 ""duration" variables"
Durations are exported from secutrial as hours:minutes in integer form (e.g. 120 = 1hr 20mins).
Could convert them to times e.g. 80 mins

[2019-06-05 08:53] #36 closed

[2019-06-05 08:59] PatrickRWright opened #39 "date chronology"
A typical problem in trials data is that dates may have not been entered correctly. e.g. they may have a typo where the year 2019 is entered as 2091 or 2029.

Maybe its possible to write a function that:
1. takes user input on chronology (hard rules)...
or
2. assesses the most likely chronology based on the majority of data...

...and returns a list of potential errors in the data.

Motivation: Ce

[2019-06-05 09:01] PatrickRWright opened #40 "url builder function"
It is possible to build links to specific forms in secuTrial. The idea is to write a function which, based on user input, creates such links.

Motivation: Centralized monitoring

[2019-06-05 09:03] PatrickRWright opened #41 "queries"
I can't specify this more closely yet, but we should generally look into query handling.

Motivation: Monitoring

[2019-06-05 09:06] PatrickRWright opened #42 "plot form completeness/availability"
For each form, plot percentage of completeness.

This is similar/related to assess_form_variable_completeness

[2019-06-05 09:17] aghaynes commented on #42
in what way is it different?

[2019-06-05 09:19] aghaynes opened #43 "data sharing"
Suite of functions to prepare data sets for sharing
- strip strings
- convert dates to study days
- etc

[2019-06-05 09:24] aghaynes commented on #40
would require user to enter the link to at least the installation, possibly/probably as far as the datacapture tool (i dont know how restrictive the system is)

[2019-06-05 09:56] PatrickRWright commented on #40
There will be quite a few parameters, yes. @markomi will probably look into this because she has implemented something like it already.

[2019-06-05 10:03] PatrickRWright commented on #42
I would like to do it on a per-patient basis. I'm not 100% sure of how I would like it to look. I will need to think about it a bit.

[2019-06-05 11:14] PatrickRWright opened #45 "read_validation_overview.R"
Maybe wrap this into assess_form_variable_completeness

[2019-06-05 15:24] PatrickRWright opened #49 "assess_form_variable_completeness issue"
assess_form_variable_completeness will not work correctly with the CTU05 dataset if completeness is set to "allforms". This is because that CDMA has treatment arms and variables in forms that are hidden depending on the visit. Both violate assumptions that are being made within the "allforms" branch.

Likely, "allforms" will only be a viable option for very rigid CDMAs.

[2019-06-06 09:01] a-lenz opened #50 "factorize_secuTrial does not factorize lookup tables"
If reference values are stored in a lookup table (e.g. lmnppXX instead of emnppXX or mnppXX), they are not assigned to a particular form. In the cl form, the form is then missing in cl$column, and the variables don't get factorized.

[2019-06-06 09:52] aghaynes commented on #50
Need to use the items and forms tables probably and do something specific for the lookup tables i suppose

[2019-06-06 09:56] aghaynes opened #51 "Export to other formats?"
From the SCTO DM meeting
EXE or Shiny app to export to other stats program formats?

[2019-06-06 09:57] #20 closed

[2019-06-11 11:01] PatrickRWright opened #53 "add some of the interval type variables into the CTU05 dataset?"

[2019-06-13 09:40] nicoleb7 opened #54 "Duplicate form meta data into all tables"
This export option must trigger an exception because it prevents proper loading.

[2019-06-13 12:11] aghaynes commented on #54
Can you show the code and error message? Your message is currently too cryptic for me to do anything with. Is sharing the data possible? (I see that you're at Basel, so maybe you can give the export to @PatrickRWright...)

[2019-06-13 12:49] PatrickRWright commented on #54
We were looking at it together and the error was somewhat cryptic. I assume if you select the export option "Duplicate form meta data into all tables" something breaks. My suggestion is to capture this option in the export options and make a check which then throws an informative error.

This is also related to:
#17

[2019-06-13 14:01] nicoleb7 commented on #54
Dear both

if "Duplicate form meta data into all tables" was selected on export, the error is:

Error in `[[<-.data.frame`(`*tmp*`, id, value = integer(0)) :
  replacement has 0 rows, data has 78

otherwise the read_secuTrial() works very nice - altough the automated date recognition (which I know from the former version) does not work in my case:

----------------------

'data.frame':    78 obs.

[2019-06-13 14:08] aghaynes commented on #54
Regarding the automatic data recognition stuff... it doesnt do the system variables (at the moment), but the date variables within the data itself should be interpreted (i.e., mnpvisfdate wont be, but dob should be)

[2019-06-13 15:12] nicoleb7 commented on #54
deleted my message due to data in there not to be shown publicly...

[2019-06-18 09:03] #50 closed

[2019-06-18 12:41] PatrickRWright commented on #10
@markomi

As far as I see changing the language affects the following files:

ExportOptions
items
cl

different language export are [here](https://github.com/SwissClinicalTrialOrganisation/secuTrialR/tree/master/inst/extdata).

[2019-06-18 12:48] aghaynes commented on #10
if it changes any column names, I would suggest that we change them when reading the data in.
I guess the biggest problem will be with items though - regex is used to identify variable types in multiple places.

[2019-06-18 13:03] PatrickRWright commented on #10
A Vaild outcome may be to just support English and German.

[2019-06-18 13:07] aghaynes commented on #10
Maybe there's a numeric code for variable types (e.g. 001 is text, 002 is 1dp numbers, 003 is 2 dp numbers)… an internal representation of the variable type that's shorter than the text and doesnt change by language. I cant think of anything off the top of my head, but who knows… then the language would only be an issue for the export options

[2019-06-18 13:11] PatrickRWright opened #57 "Allow for xpt files to be created."
**Is your feature request related to a problem? Please describe.**
When writing to xpt the variable names are truncated.

**Describe the solution you'd like**
Allow for xpt files to be created.

**Additional context**
Currently the lines of code in write_secutrial.R regarding xpt files are commented. Also the tests regarding xpt files have been deactivated for now.

[2019-06-18 14:01] PatrickRWright commented on #54
fixed in #58

[2019-06-18 14:01] #54 closed

[2019-06-18 14:19] PatrickRWright commented on #17
I just had another look at this and think "Queries and Comments", "SDV", "Missing Values" and "Audit trail" can all be ticked too.

[2019-06-19 06:58] aghaynes commented on #17
as recommended? I'm not so convinced. They're very specific and not useful for a whole lot (normally). The audit trail gives particular difficulties with dates, factors etc as you have to assume that any form beginning with at is an audit trail, although there may be hacks to get around that. It also slows down exports dramatically (particularly for large databases).
Is missing value the MIV file?

[2019-06-26 08:44] aghaynes commented on #57
this appears to be primarily a bug with haven

[2019-06-26 09:05] PatrickRWright commented on #57
the loading or the writing?

[2019-06-26 09:07] aghaynes commented on #57
no idea... you looked into it ;) my comment was just a little additional documentation :) Without SAS, it's difficult to tell

[2019-06-26 09:13] PatrickRWright commented on #57
Ah ok. I thought you had some new information.

[2019-06-26 09:33] aghaynes commented on #10
Regex is used in multiple files, which probably depends on the language. I would suggest to add a new list to the export_options with the different regex statements necessary. This will save lots of if loops in the function definitions
e.g.
[code]

[2019-06-27 07:30] a-lenz opened #59 "Add date to metadata of secuTrialdata object"
We need to put the date of the export into reports. If it would be available in the metadata of the object, it could always easily be pulled from it. A very tiny change....

[2019-06-27 08:17] aghaynes commented on #10
@PatrickRWright the italien and polish exports you added appear to be german...

[2019-06-27 08:49] aghaynes commented on #10
Extra stuff we need to know to set the various objects in the export_options (how the options are translated in secutrial)
  1. short names
  2. rectangular data
  3. duplicate meta data

[2019-06-27 12:16] aghaynes commented on #10
This might not quite be the case... It looks like they've only translated certain parts of the system into the other languages

[2019-07-08 14:04] PatrickRWright commented on #53
Intervals are added in the TES05 CDMA. @aghaynes when you are ready can you add the data export to this repo and close the issue?

[2019-07-08 14:10] PatrickRWright commented on #59
@a-lenz I agee. Seems like a useful addition. Are you interested in adding the code for this and sending a pull request? If not, I will look into it.

[2019-07-09 08:11] aghaynes commented on #51
#52 supports exporting to SPSS, STATA, and SAS

Shiny app could be a further development

[2019-07-09 08:14] aghaynes commented on #51
See also #57 (XPT files)

[2019-07-09 09:37] aghaynes opened #61 "as.data.frame method"
**Is your feature request related to a problem? Please describe.**
No, not a problem. Might be nice to have a shortcut to each dataframe to the global environment

**Describe the solution you'd like**
as.data.frame(sT_object)

**Describe alternatives you've considered**
None

[2019-07-11 10:44] markomi opened #62 "Missing date formatting with export option "Duplicate form meta data...""
@aghaynes @PatrickRWright
**Describe the bug**
Date strings are not formatted as Dates in secuTrial exports where the Export option "Duplicate form meta data into all tables" has been selected.

**To Reproduce**
Steps to reproduce the behavior:
1. Load a secuTrial export with "Duplicate form meta data into all tables"
2. Check any table with a Date column
3. Columns that contain dates are coded as

[2019-07-11 10:48] PatrickRWright commented on #62
Thank you @markomi for picking this up. @aghaynes can you fix this?

[2019-07-11 11:21] aghaynes commented on #62
this is probably the same as was fixed in #58 (which fixed #54). will look into it

[2019-07-15 12:42] markomi opened #64 "Allow export-language independent data import"
**Is your feature request related to a problem? Please describe.**
secuTrialR supports import of data in en/de/it/fr/es/pl. [As suggested by @aghaynes](https://github.com/SwissClinicalTrialOrganisation/secuTrialR/pull/63#issuecomment-510853377) it would be beneficial to have the possibility to import data independently of the secuTrial export language. This would be helpful when secuTrial extends

[2019-07-15 12:47] markomi opened #65 "Reorganize inst/extdata directory"
The number of files in the inst/extdata directory is growing and it would be good to reorganise it.

Task list:
- [ ] reorganise the inst/extdata directory
- [ ]  add a readme file that describes the structure/contents of the directory
- [ ] re-write all tests that depend on contents of inst/extdata

[2019-07-15 15:08] markomi opened #66 "Factorization/Dates problem for repetition tables in exports with short names"
**Describe the bug**
Factor columns are not converted correctly in repetition tables of exports with short table names. They are fine for long names. Also short names in normal (non-repetition) tables are fine.

**To Reproduce**
Steps to reproduce the behavior:
1. Load an export with export-options$short_names == TRUE containing a repetition table (@PatrickRWright will provide an example soon) usi

[2019-07-15 15:21] PatrickRWright commented on #66
@aghaynes if you load the below data you will see that the factorization is not working for in esurgeries. I have pushed the appropriate export to the data archive.

[code]

[2019-07-15 15:27] PatrickRWright opened #67 "If Add-ID is not selected in Export Options the export will not load"
I will fix this myself.

**Describe the bug**
If Included data:  Patient identifier: Add-ID is not selected reading of an export will not work. This is correct but a sensible error message needs to be thrown [here](https://github.com/SwissClinicalTrialOrganisation/secuTrialR/blob/master/R/read_secuTrial_export.R#L71).

**To Reproduce**
The file is in the data archive of this package.
[code]

[2019-07-16 06:38] aghaynes commented on #66
ah... those horrible forms... that would be because the metadata doesn't contain the "e" part. This is probably also the case for dates...?

[2019-07-16 06:44] aghaynes commented on #67
I disagree. We shouldn't force people to have the AID in their datasets, IMO. We can determine whether the AID is there in the export_options and then set the parameter to read_table appropriately... that would be better.

[2019-07-16 08:19] PatrickRWright commented on #67
I'm not sure how much downstream processing this will require, but I'll have a look.

[2019-07-16 08:25] PatrickRWright commented on #66
I just checked for CTU05 and unfortunately there is not date variable in esurgeries. Do you have a local dataset that you can use to check?

[2019-07-16 08:40] markomi commented on #66
I think @aghaynes is right about the dates. I just checked with a local dataset. They are not transformed from int to Date format.

[2019-07-16 08:43] PatrickRWright commented on #66
Thank you for checking.

[2019-07-17 08:47] aghaynes commented on #10
covered in #63

[2019-07-17 08:47] #10 closed

[2019-07-22 11:12] markomi opened #68 "Convert mnp vars containing dates to Date format"
**Is your feature request related to a problem? Please describe.**
"mnp" variables containing dates are not converted to Date format. Examples of such variables: mnpvispdt, mnpvisfdt, oldmnpvispdt, newmnpvispdt, mnpaedate, mnpvisstartdate, etc.

**Describe the solution you'd like**
mnp variables containing dates should be converted to a Date variable with a .date ending, similar to conversion taki

[2019-07-24 07:52] markomi opened #71 "Factor levels for lookup table related fields is not correct"
**Describe the bug**
Factor levels for lookup table related fields contain levels of not just the field in question, but also of associated fields.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a secuTrialR import of a secuTrial repetition subform that contains a drop-down field, with a dependend lookup table and a second-level lookup table.
2. Go to the emnp repetition subform, then

[2019-07-24 08:26] PatrickRWright commented on #71
Example:
Lets say you have a lookuptable with level 1 selections A and B. If you select A then the level 2 allows for selection of 1, 2 and 3. If you select B then you can select 7, 8, 9 on level 2. If you look at the factorization of level 2 then you get 1, 2, 3, 7, 8, 9 while you likely only want 1, 2, 3 if you selected A on level 1 and vice versa for B.

[2019-07-25 09:20] aghaynes commented on #37
Not supporting this as the errors for larger values are too big

[2019-07-25 09:20] #37 closed

[2019-07-25 09:24] PatrickRWright commented on #66
Basically a write up to myself.

Just to add to this since I looked a little closer into this issue:

[code]

The grep statement below fails for the short names:
[code]
Looking at the regex and the cl refernces makes clear why:
[code]

Also note that the cl tables for both long and short exports are the same, which is where the problem is coming from.

[2019-07-25 16:39] PatrickRWright commented on #71
Upon closer inspection I think this cannot be remedied since the information to subdivide the groups is not in the export data.

[2019-07-29 08:38] #62 closed

[2019-07-29 12:11] PatrickRWright commented on #71
This was explicitly addressed in #73. It can not be changed since the information is, to the best of our knowledge, not in the export data.

[2019-07-29 12:11] #71 closed

[2019-07-29 12:12] #45 closed

[2019-07-29 12:26] #66 closed

[2019-07-31 11:39] #49 closed

[2019-07-31 11:39] #53 closed

[2019-07-31 11:39] #42 closed

[2019-08-05 06:14] PatrickRWright opened #77 "Character encoding is not handled gernerically"
**Describe the bug**
Depending on the operating system and selected character encoding the package may stop loading the data appropriately.

**To Reproduce**
For now I have run some arbitrary tests on my WIndows 10 machine and not all the packages' tests are passing. Furthermore, @aghaynes reported failing test with the polish language reports on his system.

**Expected behavior**
Loading of expor

[2019-08-07 08:52] #59 closed

[2019-08-12 08:04] PatrickRWright opened #79 "change read_secuTrial_export name"
**Is your feature request related to a problem? Please describe.**
The current name will cause confusion.

**Describe the solution you'd like**
Change `read_secuTrial_export` to `read_secuTrial_raw`

**Additional context**
`read_secuTrial` should be the standard method.

[2019-08-14 08:18] #77 closed

[2019-08-20 08:25] PatrickRWright opened #82 "Version number as a badge on the README page"
**Is your feature request related to a problem? Please describe.**
Version number can only be seen in DESCRIPTION

**Describe the solution you'd like**
Add a badge with the currently released version to the README page. Importantly, this should not require a manual change if possible but automatically work through the change in DESCRIPTION.

**Additional context**
[shields.io](https://shields.io/)

[2019-08-21 08:14] #82 closed

[2019-08-21 08:27] aghaynes opened #84 "consider using a step function for recruitment plots"
**Is your feature request related to a problem? Please describe.**
step functions might more appropriately reflect recruitment than lines

[code]

rather than

[code]

`+` are just used to show corners in the first and changes in the second (they wouldnt be in the plot)

**Describe the solution you'd like**
see above

**Describe alternatives you've considered**
could also be done with the output d

[2019-08-21 12:14] #84 closed

[2019-08-21 14:42] #15 closed

[2019-08-23 09:02] #61 closed

[2019-08-27 07:55] PatrickRWright opened #89 "secuTrialdata diff function"
**Is your feature request related to a problem? Please describe.**
If there are changes to an eCRF it may be good to know about these if analyses are rerun.

**Describe the solution you'd like**
Output differences in the project setup based on an input of two `secuTrialdata` objects.

**Describe alternatives you've considered**
This could also be done by looking at the data record tables, but sinc

[2019-08-28 06:44] aghaynes commented on #89
This is actually related to #36. In a script (analysis or otherwise), you could do something like `assertthat(version == "X")` where X was the last version where the structure was checked...

[2019-08-28 07:09] PatrickRWright commented on #89
I was thinking of a more verbose output than #36. I'm not quite sure what you mean with the `assertthat` part.

[2019-08-28 07:16] aghaynes commented on #89
there's a package called `assertthat` that basically generates a stop message if a condition fails. In this case, if the version of the secutrial dataset doesnt match some version in the script (by the user), then the script would stop.

I suppose that something like your proposal could be used after such a stop to see where the changes actually are...

[2019-08-28 07:23] PatrickRWright commented on #89
I see. Yes, I agree. The idea would be that for repeating analyses you always load the previous export and the new export and check if they are different structurally. If yes, then return what has changed and think about whether this affects what has been previously done.

[2019-08-28 11:22] aghaynes commented on #89
OK. Then the first check would be the version number stored in the export. If that's the same then there's no need to do anything else... right?

[2019-08-28 11:27] PatrickRWright commented on #89
Correct

[2019-08-28 16:34] PatrickRWright opened #91 "subset secuTrialdata object by patids"
**Is your feature request related to a problem? Please describe.**
Sometimes we may only want to apply the functions on a subset of the entire data (I have such tasks). e.g. only one type of morbidity in the patients of a study needs a certain plot.

 Subsetting the `secuTrialdata` object manually is tedious, error prone and likely requires in depth knowledge of the `secuTrialR` functions.

**Desc

[2019-08-29 13:18] aghaynes opened #92 "Start documenting changes in NEWS"
**Is your feature request related to a problem? Please describe.**
It's probably good to start a NEWS file to document the changes between versions

**Describe the solution you'd like**
See e.g. https://github.com/tidyverse/ggplot2/blob/master/NEWS

[2019-08-29 14:19] PatrickRWright commented on #92
Good idea. It crossed my mind too recently. Can you start with a PR and a NEWS which basically says that we are now publishing a NEWS file starting version 0.4.17?

[2019-08-29 15:41] #92 closed

[2019-09-05 08:12] #79 closed

[2019-09-12 09:34] PatrickRWright opened #98 "List of nice to haves for the Export"
**Is your feature request related to a problem? Please describe.**
Some data needed for some functions in `secuTrialR` is not available through the regular export.

**Describe the solution you'd like**
It would be useful to have it in the export.

**List - please extend**
- validation report data to calculate completeness on variable basis
- score formulas to recalculate scores in R
- server data

[2019-09-13 09:06] PatrickRWright commented on #39
Looking at this now I believe that such a function is likely useful but maybe not as part of this package.

[2019-09-13 09:08] PatrickRWright opened #99 "Update the vignette"
**Is your feature request related to a problem? Please describe.**
The current vignette is heavily outdated and will need redoing.

**Describe the solution you'd like**
I suggest redoing the vignette when we get close to a version `1.0`

**Describe alternatives you've considered**
A lot of documentation in in the README.md already. I still think a vignette will be nice to have.

[2019-09-27 11:56] PatrickRWright opened #102 "Language parsing does not work if no Export description was specified"
**Describe the bug**
`read_secuTrial()` will wrongly return

`Your export language is not supported and can not be processed.`

if Description has been left empty in the ExportSearchTool.

**To Reproduce**
Create an export without Description and try to read it with `read_secuTrial()`.

**Expected behavior**
Allow to read an export without Description.

**Additional context**
Probably just need to

[2019-09-27 13:10] PatrickRWright opened #103 "If Project setup is not selected in Export Options the export will not load"
**Describe the bug**
If Project setup is not specified in Export Options the export will not load. A cryptic unhelpful error is returned.

**To Reproduce**
Export without Project setup and try `read_secuTrial()`.

**Expected behavior**
Return useful Error message or allow loading.

[2019-09-27 13:11] aghaynes commented on #103
whats the error?

[2019-09-27 13:14] PatrickRWright commented on #103
Error in \`[[<-.data.frame\`(\`*tmp*\`, id, value = character(0)) : replacement has 0 rows, data has 17

[2019-09-27 13:51] PatrickRWright opened #105 "If Centre information is not selected in Export Options the export will not load"
**Describe the bug**
If Centre information is not selected in Export Options the export will not load. A cryptic unhelpful error is returned. Probably because the centers table is missing.

**To Reproduce**
Export without Centre information and try `read_secuTrial()`.

**Expected behavior**
Return useful Error message or allow loading.

**Found by**
@nicoleb7

[2019-09-30 09:13] aghaynes commented on #65
@markomi can this be closed?

[2019-09-30 09:16] #102 closed

[2019-09-30 09:19] PatrickRWright commented on #65
I am not sure if she has done everything show wanted to do. Better wait with the close. She will be back next week (I think).

[2019-10-01 07:29] markomi commented on #65
Ah I thought this was automatically closed with the PR merge. Thanks for the hint. I finished and am closing.

[2019-10-01 07:29] #65 closed

[2019-10-02 07:22] PatrickRWright commented on #65
You need to use "fixes" or "closes" as keywords the automatically close, I think.

[2019-10-09 16:03] markomi commented on #32
I've done some reading on this and would like to share a few thoughts.

Basically, my impression is that although there are definitely ways to implement this functionality, it might be better not to do it within this package. Other opinions and ideas are very welcome.

Long version:

First a description of the problem.

[code]

May the data.frame "dat" be representative of some data contained with

[2019-10-09 16:36] PatrickRWright commented on #32
Thank you @markomi for the detailed input on the matter.
I had a feeling that:
- this may already have been addressed by other packages
- this may not be appropriate for secuTrialR

I agree that we should likely not include such a function in this package. However, what we can do is point users in the direction of solutions when the incomplete date warning comes up. I will probably do this in the

[2019-10-11 06:52] aghaynes commented on #32
Thanks for thinking about this. "Do nothing" was also my approach in the stata version (although not so much due to thinking about it, more out of a havent-got-time-to-do-anything reason).

Would it be worthwhile creating an indicator for an introduced missing value? Basically the result of something like `!is.na(dat$date_orig) & is.na(dat$parsed_date)`.

As well as in the vignette, I would put so

[2019-10-11 08:44] markomi commented on #32
Thanks to both for your replies!

@aghaynes when you talk about an indicator, you mean a new column with boolean values indicating that a date was not parsed correctly? Something like XXX.date.missing or XXX.date.partial?

[2019-10-11 09:03] aghaynes commented on #32
Exactly.

[2019-10-11 13:51] #67 closed

[2019-10-11 13:51] #103 closed

[2019-10-11 13:51] #105 closed

[2019-10-25 07:14] PatrickRWright opened #110 "Different R versions can produce different output for return_random_cases() with same seed"
**Describe the bug**
Different R versions can produce different output for return_random_cases() with same seed

**To Reproduce**
Run README code on @markomi machine and on @PatrickRWright machine.

**Expected behavior**
Same results.

**Additional context**
https://stackoverflow.com/questions/48626086/same-seed-different-os-different-random-numbers-in-r

https://bugs.r-project.org/bugzilla/show_b

[2019-10-25 07:57] markomi commented on #91
I would like to suggest implementing a few more features:
- subsetting based on inclusion or exclusion of parameters
- allowing subsetting based on parameters other than the patient id. for example center.

I'll start with the implementation now. @PatrickRWright @aghaynes if anything else comes to your mind, let me know.

[2019-10-25 08:40] aghaynes commented on #91
Wouldn't this boil down to participant id anyway?
Bear in mind that the package is for any user, many of which may have databases which do not prescribe to your (Basel's) standard variable/form naming conventions...(if Basel is anything like Bern, there's anyway variation around how forms are named, not so much inclusion/exclusion though).
For me, anything beyond participant id is probably going t

[2019-10-25 08:42] PatrickRWright commented on #91
For the record: Ideally the subset of the `secuTrialdata` object should look like the cases which are being excluded were never registered.

This can be tested e.g. by creating two exports in the ExportSearchTool.
1. All centres
2. Only a subset of all centres

Subset the All centres export in R with the function you are making and check for differences to the subset created by the ExportSearchToo

[2019-10-25 09:33] markomi commented on #91
Thanks for sharing your thoughts.

I was also thinking of only allowing subselection on a defined set of metadata variables, so that we can stay implementation-independent. I think pat_id and centre are the most common use cases. Nevertheless, I'll try to make it flexible, so that we can easily extend it.

As for inclusion/exclusion - not sure if I expressed it in the best possible way. What I mea

[2019-10-28 12:18] PatrickRWright commented on #51
#96 is a first attempt at a shiny deployment. I have since created a shiny dashboard which is quite a bit more fancy and which I will likely PR soon. I also contains deployment of an option to convert and save the data to e.g. Stata readable format.

[2019-10-28 12:19] #39 closed

[2019-10-28 12:21] PatrickRWright commented on #32
This can be closed when the vignette has been redone including the research that @markomi has done on the matter.

[2019-10-28 12:23] PatrickRWright commented on #11
@aghaynes is this likely something that you will/want to look into further? My feeling was that this may also not be technically possible. If you think it is not possible then we can maybe close this issue?

[2019-10-28 12:24] #68 closed

[2019-10-29 07:38] aghaynes commented on #11
I haven't seen many projects without a fixed structure so I don't know what's possible and what not... According to what I currently (think I) know, it's not possible... so I guess the issue can be closed

[2019-10-29 10:10] #11 closed

[2019-10-31 08:45] PatrickRWright opened #113 "diff_secuTrial example and tests with an actually changed CDMA"
**Is your feature request related to a problem? Please describe.**
Without an example where there are actual changes the output is not very informative.

**Describe the solution you'd like**

The below will not work because of an Error: "There is already a project with this name. Please enter a different one."
CTU05 Project setup can be exported, then imported to a new "pseudo-project" that looks

[2019-10-31 09:33] markomi commented on #113
Thanks for looking into this Patrick. How about making a copy of the database under a different name, making an export, then making changes and exporting the new project version?

[2019-10-31 09:34] PatrickRWright commented on #113
You are too clever for me. That is what I'll do.

[2019-10-31 13:05] #113 closed

[2019-10-31 14:05] #110 closed

[2019-11-01 08:27] PatrickRWright opened #116 "factorize on same variable name in different forms with different data types"
**Describe the bug**
If there are two variables with the same name in two different forms, one of which can be factorized and one which can not (because it is e.g. a freetext variable), then the current implementation seems to "think" that the variable which can not be factorized can be.

This is not a big Problem but it triggers the "Unexpected" warning and adds a `.factor` column with all `NA` v

[2019-11-01 08:40] aghaynes commented on #116
I see the issue, but this is difficult because of the mismatch between the formnames in the metadata and the actual forms

[2019-11-01 08:45] PatrickRWright commented on #116
You mean you have seen it in practice with your data too, or you understand what is happening?

[2019-11-12 09:46] #91 closed

[2019-11-12 09:57] PatrickRWright opened #118 "Meeting Agenda 5th of December and TODO list after"
Meeting Agenda 5th of December (please extend if you have anything to add):
- Figure out TODOs for release of a version 1.0 :heavy_check_mark:
  - warnings and notes must be cleared from the `R CMD check` :heavy_check_mark:
  - version increment test will have to be removed prior to CRAN submission (probably not since there is the option to `skip_on_cran()` [i.e.](https://github.com/SwissClinicalT

[2019-11-12 10:50] aghaynes commented on #118
What do you mean by user stories? What would we use them for?

[2019-11-12 11:30] PatrickRWright commented on #118
User stories are basically just written experiences of people who have used the package and who are ideally not part of the development team. That way we will be made aware of problems which are very apparent to users but not to us because we are too deeply involved.

Long story short: Ask people to use the tool and give feedback (as specific as possible).

[2019-11-12 11:55] #116 closed

[2019-11-14 10:30] PatrickRWright commented on #32
@aghaynes @markomi
We have the export options `partial_date_handling` and `partial_date_string`. I think these are obsolete right?

[2019-11-14 11:03] aghaynes commented on #32
They were carry-overs from the original version... I think we decided to not do anything about partial dates and let the user handle them didnt we? If so, yes, they're obsolete.

[2019-11-14 11:31] PatrickRWright commented on #32
Ok, I'll remove them then.

[2019-11-14 12:05] aghaynes commented on #43
too specific for this package

[2019-11-14 12:05] #43 closed

[2019-11-14 12:06] aghaynes commented on #51
@PatrickRWright can this be closed or should we keep it open for the XPT issue?

[2019-11-14 14:24] PatrickRWright commented on #51
Keep it open for now, but I have an eye on it.

[2019-11-14 15:37] PatrickRWright commented on #41
Likely no a target for `secuTrialR` 1.0.0

[2019-11-14 15:39] PatrickRWright commented on #32
@markomi would you like to formalize this into the README under a header "Incomplete date handling"? We could likely use that 1:1 in the vignette too?

[2019-11-18 14:48] #17 closed

[2019-11-19 16:35] PatrickRWright commented on #51
I will close this after updating the shiny dashboard where I will deploy an option to download all translations.

[2019-11-20 09:05] PatrickRWright opened #121 "Radiobutton reset option interferes with factorize_secuTrial()"
**Describe the bug**
If the reset option is enabled for radio buttons (i.e. "at the beginning"/"at the end") this seems to cause an error in `factorize_secuTrial()`.

Presumably, this is because the `cl` table contains an entry for the reset option for which the `code` is `NA`. I assume the according rows can be removed from `lookup` before [this line](https://github.com/SwissClinicalTrialOrganisa

[2019-11-21 10:29] PatrickRWright opened #124 "Compress date warnings"
**Is your feature request related to a problem? Please describe.**
Currently the warnings for incomplete dates can get a little out of hand and give the impression that a lot of things are out of order.

**Describe the solution you'd like**
Instead of pushing a warning for every variable, the warning message can likely be concatenated before it is pushed. This way there will be less warnings but t

[2019-11-21 10:37] aghaynes commented on #124
this would be somewhere near here I guess... https://github.com/SwissClinicalTrialOrganisation/secuTrialR/blob/39d90274e86b46cef00841cb037b48bd54d8bb99/R/dates_secuTrial.R#L61

[2019-11-21 11:33] #57 closed

[2019-11-21 12:11] #121 closed

[2019-11-25 10:24] #124 closed

[2019-11-25 13:20] #51 closed

[2019-11-25 14:22] PatrickRWright opened #128 "Modularize the secuTrialR shiny dashboard"
**Is your feature request related to a problem? Please describe.**
Some of the code is quite repetitive, and should be condensed. (e.g. Download of SAS, STATA, SPSS data).

**Additional context**
https://shiny.rstudio.com/articles/modules.html

[2019-11-25 14:25] PatrickRWright opened #129 "Better documentation of the secuTrialR shiny dashboard"
**Is your feature request related to a problem? Please describe.**
Currently the dashboard is still a little cluttered with example code from various sources. Some inline comments and descriptions of what does what would likely be helpful.

[2019-11-25 15:45] PatrickRWright opened #131 "searchable data tables for all data in the secuTrial export"
**Describe the solution you'd like**
Searchable table for each form. The structure initialize itsself and create a page similar to the "codebook" page which currently already exists. While at it also update the "codebook" tabs to a searchable table.

https://shiny.rstudio.com/gallery/datatables-options.html
https://www.htmlwidgets.org/showcase_datatables.html

[2019-12-03 11:31] PatrickRWright opened #132 "Function to merge a set of given forms to a single data frame"
**Is your feature request related to a problem? Please describe.**
Sometimes we may need to supply a subset of the data all merged into one table.

**Describe the solution you'd like**
A function which takes a vector of form names and creates a single merged data frame.

**Describe alternatives you've considered**
The alternative is not having such a function in secuTrialR and implementing the mer

[2019-12-04 13:43] PatrickRWright opened #133 "Test before 1.0 release"
Users who have shown interest in testing:
@gillesdutilh (Basel)
@Inessakraft (Basel)
@suvi-subra (Basel)
@nicoleb7 (Basel)
Debby V. (Basel)
Steffi v. F. (Zürich)
Julia B. (Zürich)
@ClaudiaRokitta

Workflow:
1. There will be an extensive and applied vignette which works with a publicly available test dataset.
2. This vignette should be read and executed by the tester.
3. If everything from the vign

[2019-12-11 09:58] PatrickRWright opened #134 ""Take value from..." rules can cause warnings in factorize_secuTrial()"
**Is your feature request related to a problem? Please describe.**
It is possible to run into the "Unexpected" warning in the factorization without that being a problem of the secuTrialR code. This can happen if the "Take value from..." rule is used and a value is taken which is not defined in the code mapping (cl table). Technically, that's an error in the implementation of the secuTrial database

[2019-12-11 10:05] PatrickRWright opened #135 "mnpptnid can cause disproportionate amount of distracting warnings"
**Is your feature request related to a problem? Please describe.**
If a secuTrial database user is added more than once (should not happen but does) or there are users with the same real name (e.g. John Smith, Peter Müller), then `factorize_secuTrial()` will throw many warnings in regard to duplications in value factorization. This creates a lot of noise and conceals important warnings.

**Describ

[2019-12-11 12:35] #134 closed

[2019-12-11 12:35] #135 closed

[2019-12-11 13:08] DrEspresso opened #137 "Improved error handling when path to file in `read_secuTrial()` does not exist"
**Is your feature request related to a problem? Please describe.**
When trying to import a file that doesn't exist, the error message

is too generic. Additionally, the code continues to execute and some more error messages are thrown:

factorize_secuTrial() failed. Proceeding without factorization.
dates_secuTrial() failed. Proceeding without date parsing.
read_secuTrial() failed.

**Describe the

[2019-12-11 13:13] PatrickRWright commented on #137
Thank you for the valid request @DrEspresso

I will include a `file.exists()` in the beginning of `read_secuTrial()` and `read_secuTrial_raw()`.

[2019-12-11 13:21] DrEspresso commented on #132
Interesting thought, but probably the specific needs each time differ too much to construct a generally useful function. (I.e. inner, outer, left join, subforms, casenodes,...)

[2019-12-11 13:23] DrEspresso commented on #131
Do you mean to search for a variable name, e.g. "age", or to search for specific subsets, e.g. `age>40`

[2019-12-11 13:28] PatrickRWright commented on #131
Ideally as versatile as possible (i.e. both), but I have to have a closer look into what's technically possible.

[2019-12-11 13:31] PatrickRWright commented on #132
At the DM meeting the idea came up to create the rectangular table from the non rectangular export within `secuTrialR` and compare it to the rectangular table exported in the ExportSearchTool. This could also be used to check the technical validity of some of the R package's functionalities.

[2019-12-11 13:36] DrEspresso commented on #132
In this case, I think the title of the issue is slightly misleading, as the rectangular export of secuTrial is a very specific form of a "single data frame".

[2019-12-11 15:03] gillesdutilh opened #139 "funny "usage" lines in secuTrialdata.Rd"
There are two funny lines in the "usage" of secuTrialdata.Rd:

print(x)
plot(x)

[2019-12-11 15:08] #137 closed

[2019-12-11 15:14] DrEspresso commented on #137
Cool, thank you both @PatrickRWright @markomi :+1:

[2019-12-11 15:14] PatrickRWright commented on #139
hey @gillesdutilh

These lines come from the custom `print()` and `plot()` methods for the secuTrialdata object.

The relevant lines are [this](https://github.com/SwissClinicalTrialOrganisation/secuTrialR/blob/master/R/read_secuTrial_raw.R#L116) and [this](https://github.com/SwissClinicalTrialOrganisation/secuTrialR/blob/master/R/read_secuTrial_raw.R#L144).

[2019-12-11 15:35] PatrickRWright commented on #139
I wonder if we should remove the generic `plot()` since we are not exporting it anyway. For the `print()` we should maybe change the x to something more descriptive.

[2019-12-11 15:53] gillesdutilh commented on #139
If print just works without further arguments, you do not need to describe in the help. You could add both generic function descriptions under "see also".

[2019-12-11 16:18] PatrickRWright opened #140 "launch_dashboard()"
**Is your feature request related to a problem? Please describe.**
No Problem, just convenience.

**Describe the solution you'd like**
`launch_dashboard()` should start the secuTrialR shiny dashboard. Allow supplying `colorscheme` argument to define color style. e.g. reds, mint...

[2019-12-12 14:06] #139 closed

[2019-12-13 13:40] aghaynes opened #147 "testthat failing on windows"
**Describe the bug**
testthat tests fail on windows due to annual recruitment

**To Reproduce**
Run tests on a windows machine

**Expected behavior**
...tests pass...

[2019-12-13 13:40] aghaynes commented on #147
problem already solved, will make a PR shortly

[2019-12-16 07:47] #147 closed

[2019-12-18 14:54] #32 closed

[2020-01-07 12:00] DrEspresso opened #151 "Suggestions for return_random_participants"
**Is your feature request related to a problem? Please describe.**
The function does not check whether a centre in <code>centers</code> exists.
The function does not accept <code>percent=1</code> (maybe useful for consistency checks)
The help page does not explain how the percentage of participants is rounded to integers.

**Describe the solution you'd like**
A warning should be shown if an elemen

[2020-01-07 15:08] gillesdutilh opened #152 "Would be cool if visit plot could be sorted by visit"
**Is your feature request related to a problem? Please describe.**
not really, just an inconvenience

**Describe the solution you'd like**
sort forms by first visit they occur

**Describe alternatives you've considered**
none

**Additional context**
Add any other context or screenshots about the feature request here.

[2020-01-09 13:33] PatrickRWright opened #154 "write_secuTrial() not tested in practice"
**Is your feature request related to a problem? Please describe.**
Since `write_secuTrial()` has not really been tested in practice we can't really recommend it.

**Describe the solution you'd like**
Get Feedback from SAS, SPSS, STATA users on the outputs.

**Describe alternatives you've considered**
Remove `@export` for `write_secuTrial()` for now.

[2020-01-09 14:08] #99 closed

[2020-01-13 11:51] PatrickRWright opened #155 "User feedback from the test cycle before v 1.0"
This issue is intended to track feedback from the test cycle which starts today. Users may submit comments and feedback in this thread or - if they prefer - via email and I will track it here.

The deadline for review is 28th of February 2020.

[2020-01-15 09:52] suvi-subra opened #156 "Include in vignette"
The following error message  could be better explained in the vigenette. Thank you.

**_"Warning messages:
1: In label_secuTrial.secuTrialdata(d) :
  some variable names appear to be duplicated - labels attribute may be longer that 1"_**

[2020-01-15 09:53] PatrickRWright commented on #155
#156

[2020-01-15 09:54] suvi-subra commented on #156
Another warning:

**_2: In dates_secuTrial.data.frame(tmp, datevars, timevars, dateformat,  :
#                                    Not all dates were converted for
#                                  variable: 'discharge_date'
#                                  in form: 'nrl08visit_data'
#                                  This is likely due to incomplete date entries._**

[2020-01-15 10:02] aghaynes commented on #156
The bottom of page 6 of the vignette covers this. Is that not sufficient?

[2020-01-15 11:51] PatrickRWright commented on #156
@aghaynes that was my fault. I forgot that I had entered this in the vignette and asked @suvi-subra to add this to the issue. Maybe we could also add a specific example though?

[2020-01-15 11:54] suvi-subra commented on #156
Thank you Patrick. I just read it and it seems helpful.

[2020-01-15 12:02] PatrickRWright commented on #156
@aghaynes we could add a paragraph in the vignette on Errors and Warnings?

[2020-01-16 06:20] aghaynes commented on #156
That's not a bad idea... you have time?

[2020-01-16 08:05] PatrickRWright commented on #156
I can do it, yes.

[2020-01-21 09:42] PatrickRWright commented on #151
@DrEspresso it would be good to have this implemented by late February just to give a timeline. Can you do that?

[2020-01-22 08:10] #156 closed

[2020-01-22 12:33] aghaynes commented on #155
One user has had a lot of trouble installing the package due to a mismatch between the version of haven  on which R was built and the version of R that she's running.
`* installing *source* package 'secuTrialR' ...
** using staged installation
** R
** inst
** byte-compile and prepare package for lazy loading
Fehler: (konvertiert von Warnung) Paket 'haven' wurde unter R Version 3.6.1 erstellt
Ausfü

[2020-01-22 12:49] PatrickRWright commented on #155
Thanks @aghaynes for reporting this. Its good to have it on the record in case anyone else runs into this.

[2020-01-22 12:50] aghaynes commented on #155
My thinking exactly

[2020-01-25 14:21] ClaudiaRokitta commented on #155
Hi, the vignette is more written for users experienced in R. It is sometimes hard for me who is experienced in secuTrial but not in R. I miss some explanations for R.

[2020-01-25 14:23] ClaudiaRokitta commented on #155
Complete date data can be transformed to xxx.date. I miss a similar transformation for incomplete dates.

[2020-01-25 14:26] ClaudiaRokitta commented on #155
As a secuTrial user I am a bit confused about the meaning of "participants" used here. In secuTrial the "participant" is the one who enters data (user) and the one whos data are entered is the "patient".

[2020-01-27 08:14] aghaynes commented on #155
Hi @ClaudiaRokitta, thanks for your feedback.

SecuTrialR is primarily intended for those who will be using R to analyze data from SecuTrial... so basic knowledge of R is more or less assumed... depending what you want to do, some features are available in the shiny app (@PatrickRWright, is that still a part of the package?). There are also a lot of courses for R available of the internet, many fo

[2020-01-27 08:23] aghaynes commented on #155
Feedback from a user in Bern...
Really useful package... The vignette seems to be OK and the codes transfer well to a project she works on. She likes the warning messages. Wonders whether the warnings could be saved to a dataframe and returned in the object (would form the basis of a query list.... particularly if the participant ID (mnppid/mnpaid) were provided). linkage plots when audit trail is

[2020-01-29 16:01] Inessakraft commented on #155
Really good package! All steps worked out perfectly for my data export. The
return_random_participants-function is great!
I had some common issues that are already listed in frequent warning
messages. I checked the variable that was affected and I remembered that I
renamed the label of the variable after the first release.

My remark is rather formal:

-  Finding changes/differences in exports ->

[2020-01-30 09:15] PatrickRWright opened #158 "Add pkgdown build to the Contributor guidelines"
**Is your feature request related to a problem? Please describe.**
- pkgdown is not automatically updated.

**Describe the solution you'd like**
- add pkgdown::build_site() to guidelines
- write a test to check if this was done

[2020-02-04 10:42] DrEspresso opened #159 "Create discrepancy lists for automatic query generation"
**Is your feature request related to a problem? Please describe.**
In the traditional clinical Monitoring process, a monitor creates a "query" on an item of a specific secuTrial form and asks an investigator to correct data and answer the query. When the investigator changes the status of the query to "answered", the monitor can mark the status as "resolved". This is a tedious taks if the same or

[2020-02-04 10:43] DrEspresso commented on #41
I am sorry, I saw this issue only now. I just created a specific issue with respect to queries.

[2020-02-04 10:52] aghaynes commented on #41
#159

[2020-02-04 10:55] aghaynes commented on #159
Interesting idea. Could be very useful for central data monitoring...

[2020-02-04 11:17] DrEspresso commented on #159
Yes, that's our current need :+1:

[2020-02-04 12:21] PatrickRWright commented on #159
Would you like to implement this @DrEspresso ? If yes, then I will assign you to this issue. If you are not sure if it will be you or rather someone else, a few more specifics regarding the functions may be useful.

[2020-02-04 12:38] DrEspresso commented on #159
@PatrickRWright I will have a look. It depends whether we need this for a project in the next two weeks or not. Also, maybe a refactoring of @benkertp's code is all that is needed, in which case it might be not much additional work.

[2020-02-20 13:24] PatrickRWright commented on #155
Further feedback via email:
Great vignette, thanks a lot for sharing. I worked through it with your example file and about half of it with my own export file, which worked very well. For me, as a data manager, I especially liked the graphs that can easily be plotted. And it was very easy to follow the vignette.

I just have the following general initial installation remarks:
- I would suggest to a

[2020-02-20 13:26] PatrickRWright commented on #155
Regarding the installation: I agree. We currently have an intern here in Basel who ran into the same issues with his Windows machine thus further backing up that point. I will make some additions to the installation paragraph which will hopefully help.

[2020-02-20 14:04] aghaynes commented on #155
As this a point that is only relevant to github, I wouldn't add it to the vignette. Once it's on CRAN, the issue goes away...

[2020-02-20 14:15] markomi commented on #155
Still, even after publication on CRAN, some people might want to have the newest version from GitHub. Just a short sentence or two should be enough.

[2020-02-20 15:55] PatrickRWright commented on #155
I think some very brief comments will not do any harm especially because I would like the package to be easy to use as possible also for people outside of the R world.

This is also relevant to the below comment. I will make a brief reference to an R book that can get people started. I.e. [this one](https://rstudio-education.github.io/hopr/)

[2020-02-21 12:51] markomi commented on #128
I'm starting to implement this. I'm planning to make 8 modules - one per dashboard tab.

[2020-02-21 13:01] PatrickRWright commented on #128
Fantastic. Thank you @markomi

[2020-02-24 15:44] suvi-subra commented on #155
Kudos to the creators of secuTrialR, a very comprehensive and well-documented package!!! Thank you. I especially found the subsetting functions very useful.
One issue I faced while testing the package with another dataset:

data.extraction.date <- as.Date("04.02.2020", format="%d.%m.%Y") ## date of data extract

data.dir <- Sys.glob(paste("me16Engelter/datamanagement/exports/p_export_CSV_NRL08_",

[2020-02-27 09:56] OliviaEbnerIAS commented on #155
First of all, I think it’s really great that you started the downstream analysis of secuTrial data using R!

I think the vignette is really a good seed for further data analysis. It is written clearly and comprehensibly and it’s very useful to have a functioning example data set to see how it’s working.

Also the examples of regular expressions are nice for people to realize they can use this as t

[2020-02-27 10:56] aghaynes commented on #155
@suvi-subra, @OliviaEbnerIAS

Thanks both of you for pointing out the bug with links_secutrial. I'm looking at it now. It seems to be an issue with identifying the export settings which causes it to fail for exports without the audit trail.

[2020-02-27 10:58] #152 closed

[2020-03-02 10:43] PatrickRWright commented on #155
More feedback via Email:
* Die Vignette liest sich sehr gut und ich finde sie sehr gut gelungen. Wunderbar mal eine gut geschriebene Vignette durchzuarbeiten!
* Auch habe ich viel davon profitiert, denn nun kenne ich deutlich mehr Optionen des Pakets als zuvor. Ich finde es sehr, sehr nütlich!
* Sprachliches Detail: auf Seite 10 könnte der Satz "For a more participant id centred statistic you can

[2020-03-04 16:01] #128 closed

[2020-03-05 09:56] #129 closed

[2020-03-05 09:59] PatrickRWright commented on #133
Replies in #155

[2020-03-05 10:34] aghaynes commented on #155
Regarding the [email](https://github.com/SwissClinicalTrialOrganisation/secuTrialR/issues/155#issuecomment-593339143)

links_secuTrial(my_exp)

This should be solved now

Yes, this is probably due to lack of a fixed the visit structure. Not sure how we can test for that though...

I'm not sure... this is due to factor level labels being too long I assume? The error is reasonably informative, if yo

[2020-03-05 10:36] markomi opened #164 "Collection of ideas for the shiny app"
I've written down a few ideas for the next version of the shiny app. How to make it more user-friendly and appealing for the user and amore robust.

- upload: once data is loaded, show the information permanently, e.g. in a single line on the upload tab, but also at the top of the page in other tabs.
- upload: add a button that "unloads" loaded data
- upload error handling: seems okay in the uploa

[2020-03-05 11:32] PatrickRWright opened #165 "Add warning messages to a dataframe in the secuTrialdata object"
**Is your feature request related to a problem? Please describe.**
Not a problem but it may be convenient to have such a `data.frame` available to write queries.

**Describe the solution you'd like**
During data reading the warning messages should be compiled in a `data.frame` within the `secuTrialdata` object.

[2020-03-05 11:33] PatrickRWright commented on #165
@markomi @aghaynes what do you think? I like the idea but would like to postpone this to a later stage and get on with the CRAN release for now.

[2020-03-05 11:36] PatrickRWright commented on #155
I'm not a fan of this because it seems rather untidy. The propper way to remove the audit trail would be through the ExportSearchTool (i.e. just reexport with the option off). Thus I don't think we need an `as.secuTrialdata` function.

[2020-03-05 11:41] PatrickRWright commented on #155
Fair point. I will make an appropriate adjustment.

I don't think such a function would be too useful, so I will not track the suggestion.

[2020-03-05 12:37] aghaynes commented on #165
I think that we've discussed this at point in the past and thought it a good idea then too...

[2020-03-05 12:39] PatrickRWright opened #166 "Catch visit_structure() Error more elegantly"
**Is your feature request related to a problem? Please describe.**
`visit_structure()` only works for fixed visit plans. When it fails, the returned Error is cryptic.

**Describe the solution you'd like**
Since we can assume that the majority of fails in `visit_structure()` happens when the visit plan is not fixed we can catch the error and send a more helpful Error. e.g. "Likely your visit plan i

[2020-03-05 12:40] aghaynes commented on #164
How about something in the menu on the left instead?
![image](https://user-images.githubusercontent.com/6594028/75982367-c4796300-5ee6-11ea-90b8-80604b2694e1.png)
No idea if its possible, but then it's evident without needing to have a sentence on each page... (inless someone closes the panel)

[2020-03-05 12:44] aghaynes commented on #164
In the presize app, I do something like this
[code]
The app then shows the message rather than an error.
Just an idea :)

[2020-03-05 12:44] markomi commented on #164
Yeah, maybe. But personally, I'd prefer knowing exactly what is loaded without having to go back to the Upload tab. Doesn't have to be a full sentence. Just sth like:
Loaded data: {data-file-name}

[2020-03-05 12:46] aghaynes commented on #164
that could still go in the menu bar, perhaps not next to the upload button in that case, but just beneath it...?

[2020-03-05 12:47] markomi commented on #164
Yeah maybe. I could try out a few different things and see where it looks best and is both informative and not distracting.

[2020-03-05 12:51] PatrickRWright commented on #164
I think a small "signature" type of "thing" at the bottom of every page would serve this purpose quite well.

So basically what @markomi just not top but rather bottom ;)

[2020-03-05 12:52] markomi commented on #164
That's a good hint. Also there's this option: https://shiny.rstudio.com/articles/validation.html

I've used it before in another app and it works well and looks very decent.

[2020-03-05 12:56] PatrickRWright opened #168 "Rectangular export gives missleading Error indication"
**Describe the bug**
If the export is rectangular, it throws an error “Input to read_secuTrial() appears to be incompatible. Have you exported CSV format?”. This might be misleading as this export is CSV but in rectangular format…just in case people won’t read the export requirements…and I saw that actually this error message should appear:

if (export_options$is_rectangular) {

stop("Your export

[2020-03-05 12:59] PatrickRWright opened #169 "Update diff_secuTrial() documentation"
**Is your feature request related to a problem? Please describe.**
The diff_secuTrial() function works well and I think is very useful as a quick check for differences. Maybe you could add in the description though that hidden (from the visit plan for example) forms/ variables fall into the category of “removed” as well.

**Describe the solution you'd like**
Update function help.

**Additional con

[2020-03-05 13:48] #140 closed

[2020-03-05 16:44] PatrickRWright opened #171 "The "Form data of hidden fields" export option should be recorded"
**Is your feature request related to a problem? Please describe.**
Good to be able to check this option.

**Describe the solution you'd like**
Add it to `export_options`. Also needs to go into the dictionaries.

[2020-03-05 17:06] PatrickRWright commented on #169
After somewhat lengthy investigations, I think that hidden fields will not be returned by the function as "removed" since they remain in the export even if data for "Hidden fields" is not exported.

However, there is a `hidden` column both in the `fs` and `is` table. Maybe these can be useful.

[2020-03-05 17:46] PatrickRWright opened #172 "Function to return hidden items"
**Is your feature request related to a problem? Please describe.**
Sometimes during a study, certain fields will be hidden because data should no longer be entered into them (other reasons may be possible too). Its probably useful to have a small helper function which can tell you for which variables this is relevant. i.e. `return_hidden_items()`

**Describe the solution you'd like**
`return_hidde

[2020-03-05 17:46] #169 closed

[2020-03-06 10:56] markomi commented on #164
@aghaynes @PatrickRWright
As discusssed, I have created the [secuTrialRshiny](https://github.com/SwissClinicalTrialOrganisation/secuTrialRshiny) package. All further development of and issue tracking for the shiny app should take place there. You are both listed as authors.

I have referred to this issue in [secuTrialRshiny issue 3](https://github.com/SwissClinicalTrialOrganisation/secuTrialRshiny

[2020-03-06 10:56] #164 closed

[2020-03-06 11:02] markomi commented on #131
@PatrickRWright
As discusssed, I have created the [secuTrialRshiny](https://github.com/SwissClinicalTrialOrganisation/secuTrialRshiny) package. All further development of and issue tracking for the shiny app should take place there.

I have referred to this issue in [secuTrialRshiny issue 4](https://github.com/SwissClinicalTrialOrganisation/secuTrialRshiny/issues/4) and am thus closing #131.

[2020-03-06 11:02] #131 closed

[2020-03-09 13:59] #168 closed

[2020-03-09 13:59] #171 closed

[2020-03-09 13:59] #172 closed

[2020-03-09 17:42] #133 closed

[2020-03-10 08:55] #155 closed

[2020-03-11 13:09] PatrickRWright commented on #166
@aghaynes you want to do this before 1.0.0 or can I label is as after 1.0.0 for now? I don't think its a pressing issue.

[2020-03-12 08:40] aghaynes commented on #166
It's probably be better to get it done before, don't you think? it's not clear at all at the moment...

[2020-03-12 09:52] aghaynes opened #177 "Hidden visits"
It has just come to my attention that visits/observations can be hidden in SecuTrial (as well as items senso #172). To the best of my knowledge we do not handle them at all at the moment. Maybe we should do something about them, or have a function to remove them perhaps?
I'm currently waiting on info as to how to identify these visits/observations...

[2020-03-12 12:17] PatrickRWright commented on #177
So hidden variables can be identified with the `return_hidden_items()` function. If hidden data is part of the export that is also tracked in the `export_options$hidden_fields`.

I think the same logic holds for forms but I didn't implement a function to return them.

[2020-03-12 15:30] aghaynes commented on #177
Having played around a little with a DM, it looks like the "show hidden fields" button controls both hidden variables and visits/observations. Maybe it's worth producing a warning if that option is checked (the data probably shouldn't be used...)

[2020-03-12 15:36] PatrickRWright commented on #177
Probably `check_export_options()` is the right place.

[2020-03-13 07:55] #151 closed

[2020-03-13 11:46] PatrickRWright commented on #166
@aghaynes do you have a timeline? I'd like to try and get the package on CRAN in April if possible.

[2020-03-16 07:38] #177 closed

[2020-03-19 10:21] PatrickRWright opened #181 "visit_structure() needs to handle missing project setup"
**Describe the bug**
`visit_structure()` fails without project setup being part of export without a useful error.

**To Reproduce**
[code]

**Expected behavior**
Throw an Error saying that this will only work if project setup was exported.

[2020-03-19 10:26] PatrickRWright opened #182 "`annual_recruitment()` and `return_random_participants()` need Form meta data: Structure"
**Describe the bug**
Without "Form meta data: Structure" enabled in the export `annual_recruitment()` and `return_random_participants()` will fail because the `casenodes` table does not contain the column `mnpvisstartdate`.

**To Reproduce**
Export without "Form meta data: Structure" and run `annual_recruitment()`/`return_random_participants()`

**Expected behavior**
Check in `export_options` whet

[2020-03-19 10:40] PatrickRWright opened #183 "Vignette is missing `build_secuTrial_url()` example"
**Is your feature request related to a problem? Please describe.**
`build_secuTrial_url()` may be overlooked.

**Describe the solution you'd like**
Add a small example to the vignette.

[2020-03-19 10:43] PatrickRWright opened #184 "`diff_secuTrial()` example in vignette is currently not very useful"
**Is your feature request related to a problem? Please describe.**
`diff_secuTrial()` should have a non-empty output in the vignette.

**Describe the solution you'd like**
I realized that we cloned CTU05 to a CTU06 build to emulate changes to CTU05, so it is actually possible to make a useful example. See example in `?diff_secuTrial()`.

[2020-03-19 10:43] PatrickRWright commented on #181
This can probably be remedied in conjunction with the feedback that we will hopefully be getting from Steffi.

[2020-03-19 13:31] #182 closed

[2020-03-19 15:06] #158 closed

[2020-03-19 15:06] #183 closed

[2020-03-19 15:06] #184 closed

[2020-03-30 15:09] PatrickRWright opened #187 "Make more clear what the right options are in the suggestions for fail"
Clarify that export must be in CSV and must not be rectangular.

https://github.com/SwissClinicalTrialOrganisation/secuTrialR/blob/6f37d89ec7636ee125929964539dbb09d19d5de3/R/read_secuTrial.R#L38

[2020-04-03 06:27] #187 closed

[2020-04-03 06:27] #118 closed

[2020-04-03 06:27] #181 closed

[2020-04-03 11:47] aghaynes opened #189 "Add CRAN badges to readme"
e.g. [![CRAN_Status_Badge](https://www.r-pkg.org/badges/version/ggplot2)](https://cran.r-project.org/package=ggplot2)

(remove the space in [! [CRAN_Status_Badge](https://www.r-pkg.org/badges/version/secuTrialR)](https://cran.r-project.org/package=secuTrialR))

[2020-04-06 06:44] PatrickRWright opened #190 "Feedback from CRAN after 1.0.0 submission"
**DESCRIPTION:** :heavy_check_mark:
Please always write package names, software names and API names in
single quotes in title and description. e.g: --> 'secuTrial'

**README.Rmd:*** :heavy_check_mark:
   Found the following (possibly) invalid file URI:
     URI: vignettes/secuTrialR-package-vignette.pdf
       From: README.md

**completeness.R:** :heavy_check_mark:
   Found the following \keyword

[2020-04-09 14:03] #190 closed

[2020-04-16 06:52] PatrickRWright opened #194 "Add release checklist to README"
Compile/Update:
1. README.Rmd
2. vignette
3. pkgdown page
4. NEWS.md

[2020-04-16 15:33] #194 closed

[2020-04-24 10:11] DrEspresso opened #196 "Validation of catalogue items in the export against catalogue definition"
**Is your feature request related to a problem? Please describe.**
secuTrial's question types include _catalogues_: A sequence of drop-down selection items, where the available options depend on the answer on the previous item.
While the question and the items are implemented as usual on the project-level in a form, the catalogue itself is defined on the customer level.
Typical examples of such ca

[2020-04-24 10:38] PatrickRWright opened #197 "The "tag" of the linked test needs to be corrected."
https://github.com/SwissClinicalTrialOrganisation/secuTrialR/blob/5be910e8a6eba1b8ccfdeb87a6e8cab1d00e9623/tests/testthat/test-read_export_options.R#L126

[2020-04-27 11:54] PatrickRWright opened #198 "Return pat_ids for records which have no saved form (i.e. no data)"
**Is your feature request related to a problem? Please describe.**
Sometimes data entry personnel may register records which are empty. There are likely useless but they affect the overall number of registered participants. Thus it may be handy to know which records have no saved forms.

**Describe the solution you'd like**
Probably a function that checks which records in the `cn` table have no re

[2020-04-27 12:21] PatrickRWright opened #199 "Function to tell you whether data entry complete (DEC) is done for all cases"
**Is your feature request related to a problem? Please describe.**
It would be good to get this information without having to log into secuTrial

**Describe the solution you'd like**
A function that returns which forms and pat_ids are not DEC.

**Additional context**
There is probably a column in the form tables indicating DEC status.

[2020-05-07 12:24] PatrickRWright opened #201 "Fix GitHub Actions build"
**Describe the bug**
GutHub Actions are currently failing and need to be fixed.

[2020-05-08 06:08] aghaynes commented on #201
This should fix the mac error...
https://github.com/r-lib/actions/issues/78

[code]

[2020-05-11 09:22] PatrickRWright commented on #201
As expected the `tidyr` issue has resolved itself. For Windows and Ubuntu a `pdflatex` related error remains. i.e. we probably need to specify that `pdflatex` is needed somewhere in the yaml file.

[2020-05-11 12:17] aghaynes commented on #201
Super!

is it worth adding ubuntu-latest to the set of builds?

[2020-05-11 12:24] aghaynes commented on #201
Here's a couple of links that might be useful for the tex issue...
https://github.com/r-lib/actions/tree/master/setup-tinytex
https://github.com/r-lib/actions/issues/54

[2020-05-12 06:21] PatrickRWright commented on #201
I think we can add all builds that are possible as long as they don't create unreasonable issues. I won't be able to look closer for the next few weeks though.

[2020-05-12 08:53] aghaynes commented on #201
of possible use... install latex packages...

  - name: Install latex packages
        run: |
          tlmgr install oberdiek epstopdf-pkg epstopdf grfext gettitlestring environ trimspaces etoolbox upquote babel-english pgf xcolor algorithms relsize tocbibind appendix tocloft enumitem listings tcolorbox
          tlmgr update --self --all --no-auto-install

[2020-05-12 14:36] aghaynes commented on #201
question regarding failing links_secutrial example posted here:
https://community.rstudio.com/t/github-actions-fails-with-tc/65639

[2020-05-13 09:18] aghaynes commented on #201
seems to be an issue with R4.0... \donttest examples seem to be being tested...
https://community.rstudio.com/t/r-cmd-check-r-4-0-0-now-runs-donttest-how-to-proceed-with-long-running-examples/64493

[2020-06-09 14:39] #201 closed

[2020-06-09 14:44] #189 closed

[2020-07-01 12:15] PatrickRWright opened #203 "label seems to get "lost" in the secuTrialdata object after subsetting"
**Describe the bug**
After subsetting a `secuTrialdata` object the variable labels seems to be dropped

**To Reproduce**
Read a secuTrial export. Subset it and check the labels.

**Expected behavior**
Retain variables.

[2020-07-01 12:43] aghaynes commented on #203
simplest solution would be to reapply labels shortly before returning the object...

[2020-07-01 12:48] PatrickRWright commented on #203
Sounds good. I'll ask our new colleague in Basel to do it once she's a little more settled. Probably a good task to get going.

[2020-07-02 07:21] PatrickRWright opened #204 "Increase reading spead of for read_secuTrial()"
**Is your feature request related to a problem? Please describe.**
Very big exports (i.e. tens of thousands of entries) need long to read. Maybe its possible to boost the performance.

[2020-07-03 10:44] aghaynes commented on #204
I tried a little profiling... It seems to be converting the dates that's primarily causing the lag (at least in the dataset I've looked at)

![image](https://user-images.githubusercontent.com/6594028/86461587-7f492e80-bd2a-11ea-8846-11da1b4c1ee8.png)

[2020-07-03 10:51] aghaynes commented on #204
Specifically, it's a merge in `.convert_dates`
![image](https://user-images.githubusercontent.com/6594028/86462419-e3b8bd80-bd2b-11ea-8779-2a35ad3faefe.png)

[2020-07-05 08:57] PatrickRWright commented on #204
What's the tool you are using there? Looks super useful.

[2020-07-14 08:08] aghaynes commented on #204
`profvis` - it integrates with RStudio's IDE
[see here for tutorial on RStudio's support forum](https://support.rstudio.com/hc/en-us/articles/218221837-Profiling-with-RStudio)

[2020-07-16 12:29] aghaynes commented on #204
[code]
I find it easier to look at the Data tab
![image](https://user-images.githubusercontent.com/6594028/87670797-a3682f00-c770-11ea-9708-3faaac2ff511.png)

[2020-07-16 12:45] PatrickRWright commented on #204
![image](https://user-images.githubusercontent.com/12644057/87672219-e6c39d00-c772-11ea-88e9-3d34e3a564ed.png)

[2020-07-16 12:49] PatrickRWright commented on #204
We could benchmark the `tidyverse` reading functions to see if its worthwhile switching.

[2020-07-16 14:04] PatrickRWright commented on #204
In the spirit of structured procrastination I prepared a small benchmark:
https://gist.github.com/PatrickRWright/4ed5d4e5b5aed03b7a1aa5b593dd9b64

`readr` is faster but its not exactly light speed either.

[2020-07-16 14:21] aghaynes commented on #204
There is also data.table::fread and vroom::vroom which would be worth looking at. [vroom](https://github.com/r-lib/vroom) is apparently the fastest, although I've never used it... (screenshot from the vroom readme

![image](https://user-images.githubusercontent.com/6594028/87682604-52603700-c780-11ea-9007-3e03ec43ef2a.png)

[2020-07-16 14:26] PatrickRWright commented on #204
If it were just the numbers I agree. Lets have a look at the dependency consequences it has. The speedup looks pretty impressive though.

[2020-07-20 14:21] PatrickRWright opened #206 "Form families of class "Centre" and "Centre Subform" don't translate mnpctrid"
**Describe the bug**
There are form family types "Centre" and "Centre Subform". I just realized that they exists and they include information on the centre in the column mnpctrid. It would be nice if this is translated. They are not meta data tables.

Probably the issue stems from the fact that one line in the centre forms does not associate with a patient. i.e. there is no mnppid.

**Expected beh

[2020-07-21 08:30] PatrickRWright commented on #206
Quick followup since I talked to the DM (@nicoleb7) who implemented the database where the issue was discovered.

The point of centre forms is to be able to enter participants who were screened but are not necessarily recruited. These entries will not be added to the casenodes table. Thus, these forms should be completely detached from the rest of the data. Centre subforms should work like regular

[2020-07-24 18:03] DrEspresso commented on #203
R in general doesn't keep any custom attributes when subsetting. So maybe we need a custom `[` method for `secuTrialdata` objects, or we could use an external package like "sticky" to make all attributes persistent: https://cran.r-project.org/web/packages/sticky/vignettes/introduction.html

[2020-07-28 14:11] DrEspresso commented on #203
Quick workaround for the `tidyverse` suggested by @suvi-subra: Subsetting with `dplyr`'s `filter()` preserves all labels.

[2020-07-28 14:26] aghaynes commented on #203
if you have time, please feel free to make a PR :wink:

[2020-07-28 14:31] DrEspresso commented on #203
@aghaynes I am playing around, but I couldn't find a solution yet. And the workaround doesn't solve the OP, labels should be preserved regardless of the method used to subset.

[2020-08-25 08:47] PatrickRWright commented on #132
Maybe a paragraph on data/form merging in the vignette will suffice.

[2020-08-26 07:14] #197 closed

[2020-08-26 07:14] #203 closed

[2020-08-27 10:49] #132 closed

[2020-08-28 10:24] PatrickRWright opened #212 "read_validation_overview() fails to propperly read current validation reports"
**Describe the bug**
Seems like a recent secuTrial update changed the amount of lines before the data in the Excel file. Skipping 7 lines
removed the header.

**To Reproduce**
Export a validation report in secuTrial 5.6.2.2 and try and read it with `read_validation_overview()`

**Expected behavior**
Keep header.

[2020-08-31 09:15] #212 closed

[2020-08-31 12:21] PatrickRWright commented on #203
Eventhough this is closed I thought I'd put this here (just saw it by chance):
https://github.com/decisionpatterns/sticky

[2020-09-01 13:43] PatrickRWright commented on #154
Apparently this is a browser based free for academics SAS version:
https://www.sas.com/en_us/software/on-demand-for-academics.html

[2020-09-04 11:55] aghaynes opened #215 "testthat 'report'"
Just gonna leave this here as something potentially interesting... it creates a report of the testthat result in the form of a vignette/article

[https://yonicd.github.io/covrpage/](https://yonicd.github.io/covrpage/)

[2020-09-09 07:09] aghaynes opened #217 "Add actions build badge"
Add a build badge for github actions (just like for Travis and AppVeyor)?

[2020-10-02 11:22] nicoleb7 opened #219 "adding the possibility to set / choose the linetype and possibly also the colors of the lines in plot_recruitment"
**Is your feature request related to a problem? Please describe.**
When using plot_recruitment i would like to decide the linetype (not only dashed) and maybe even the colors of the lines

**Describe the solution you'd like**
plot_recruitment( x,
return_data = FALSE,
show_centres = TRUE,
cex = 1,
rm_regex = "",
linetype = (string of line types)
linecolor = (string of line colors)
)
**Describe alte

[2020-10-08 08:55] aghaynes commented on #217
done in #216

[2020-10-08 08:55] #217 closed

[2020-10-08 08:58] aghaynes commented on #219
@PatrickRWright, can you look at this? It shouldn't be too difficult I wouldn't have thought...

[2020-10-08 12:53] PatrickRWright commented on #219
Yes, I can do it when I have some free time. I asked @nicoleb7 to track the issue so I don't forget.

[2020-10-08 14:23] aghaynes commented on #219
Super, thanks.

[2020-10-26 10:15] PatrickRWright commented on #215
This could be useful for the documentation of the validation.

[2020-10-29 15:51] PatrickRWright opened #220 "CSV structure can break down due to free text fields"
**Describe the bug**
In fringe cases, free text fields can cause the csv structure to break down and data will not be read as expected.

**To Reproduce**
I currently do not have an example that I can share publicly.

**Expected behavior**
Read data as expected or warn appropriately.

**Additional context**
Something like this:
[code]
The combination of the quotes together with common field delimit

[2020-10-30 07:45] aghaynes commented on #220
can you experiment with the different functions for reading data in (read.csv, fread, etc)? this isn't secuTrialR per se, but reading the data into R in general... Off the top of my head, I dont know if any will read stuff like that (particularly if there's carriage returns in there too...)

[2020-10-30 08:12] PatrickRWright commented on #220
That was my thinking too which is also why I am not too concerned/in a hurry. However, I think it would be useful to at least trigger some kind of warning (if possible). I guess free text will always be a pain because its by definition "free".

The specific export that caused this issue could be "remedied" by switching the field delimiter from "," to "\t" in the ExportSearchTool options.

[2020-10-30 10:32] aghaynes commented on #220
is it easy enough to identify when the problem occurs? maybe a warning with "recommend changing delimiter" is worthwhile, I guess that's what you meant? not that that is bombproof either though...

[2020-11-02 13:53] Inessakraft opened #221 "pat_id variable in form"
My form variable "pat_id" was deleted or rather overwritten by the add_id. Took me a bit to figure this out. A warning message would be very helpful. Thanks a lot!

[2020-11-02 14:45] PatrickRWright commented on #221
Thank you @Inessakraft for the report. We will look into implementing an exception as soon as time permits.

[2020-11-03 11:12] PatrickRWright opened #223 "igraph and tcltk dependencies"
**Describe the bug**
Depending on the operating system and preinstalled software/libraries the dependencies igraph and tcltk can cause quite some issues during the installation and may ultimately lead to failure regarding installation of `secuTrialR`. Given that it is only `links_secuTrial()`, a non core function, which depends on these they should not be strictly needed given the problems they se

[2020-11-03 11:33] PatrickRWright opened #224 "factorization of variables in lookuptables seems to be broken"
**Describe the bug**
Factor variables in lookuptables are not factorized anymore by `factorize_secuTrial()`. This probably happened during the implementation of the speedup in version 1.0.4. The silent fail can likely be attributed to no export with lookups being available for testing.

**To Reproduce**
Read an export with lookups and factorize it. Check the variables from the lookup tables.

**Ex

[2020-11-03 11:40] #223 closed

[2020-11-06 16:17] sachsmc opened #225 "Add URL and BugReports fields to DESCRIPTION"
This is for the JOSS review, checklist item: "Are there clear guidelines for third parties wishing to 1) Contribute to the software 2) Report issues or problems with the software 3) Seek support"

**Describe the bug**
Users that find your package on CRAN may have a hard time finding the relevant guidelines to report a bug or to browse the source code (available only at the bottom of the README cur

[2020-11-06 16:40] sachsmc opened #226 "JOSS Software paper issues"
A few notes on the JOSS software paper:

1. For the checklist item: State of the field: Do the authors describe how this software compares to other commonly-used packages?

This could be improved. For example, what are the existing approaches to interact with data from secuTrial? How does the functionality in secuTrialR compare with that of R interfaces to competing clinical data management system

[2020-11-09 09:00] PatrickRWright commented on #226
@aghaynes off the top of your head could you write something comparing `secuTrialR` to `REDCapR`?

[2020-11-09 09:13] PatrickRWright commented on #225
Thanks @sachsmc for the useful suggestion.

[2020-11-09 10:13] aghaynes commented on #226
Yes, I can do that, maybe this afternoon or tomorrow... OK?

[2020-11-09 10:23] PatrickRWright commented on #226
Super thanks Alan. I don't think there's a rush.

While you're editing the paper, can you also add the two reviewers and the editor to the acknowledgements list?

[2020-11-10 15:50] #225 closed

[2020-11-11 08:01] PatrickRWright commented on #224
@PatrickRWright needs to prepare an database which includes a lookuptable data structure so that we can properly fix this and cover it with tests.

[2020-11-11 12:04] #226 closed

[2020-12-01 11:39] aghaynes opened #230 "XQuartz needed?"
**Describe the bug**
A MAC user came to me saying that their export would not read into R. They were getting the "rectangular /incompatible data" error. Their data was not rectangular. He was using the dev version (1.0.7).

I suggested he use the CRAN version - it worked.

He didn't originally use the CRAN version because he didn't have XQuartz (which he installed to get the CRAN version).

Import

[2020-12-01 12:17] PatrickRWright commented on #230
Ideally we need a blank MacOS and try it ourselves to reproduce at least whether this is related to a specific export or whether this happens for every export.

[2020-12-01 12:51] PatrickRWright opened #231 "Deviations table has more columns than indicated in the header"
**Describe the bug**
This is a new exception related to a table which can be present in the export called "deviations_*". Since we hardly ever use this table it has not yet come up. When this table is present an Error can be thrown. `read_secuTrial()` catches it and makes some suggestions which are not useful in this case.

`read_secuTrial_raw()` is more specific and points out what the actual iss

[2020-12-01 15:42] PatrickRWright commented on #231
This has been forwarded to iAS.

[2020-12-02 14:34] PatrickRWright commented on #220
Should we set "\t" as recommended export option? I think using tabs in freetext is a lot less common than commas or semicolons.

[2020-12-03 07:31] aghaynes commented on #220
best would be if iAS can wrap strings in quotes, then it should be fine. I wouldn't make the recommended settings tooooo different to the defaults

[2020-12-03 08:05] PatrickRWright commented on #220
So the below (adjusted from the example above) would work properly?

[code]

[2020-12-03 08:52] PatrickRWright commented on #220
Note to myself: @PatrickRWright check difference in "CSV format" and "CSV format for MS Excel".

[2020-12-04 13:40] PatrickRWright commented on #231
Should be fixed from secuTrial versions 6.1 and up.

[2020-12-04 13:40] #231 closed

[2020-12-07 11:53] #224 closed

[2020-12-10 08:31] PatrickRWright commented on #221
I suggest we implement a "simple" warning here which informs on the fact that a variable `pat_id` is already present in the database and has thus caused problems.

[2021-01-04 12:43] aghaynes commented on #215
Also possibly useful... this package allows comparison of figures [vdiffr](https://github.com/r-lib/vdiffr)

[2021-03-11 23:49] miljukov-o opened #235 "mnpaid is mnppsd in German version resulting in missing Add-ID"
If I'm correct, in the German set-up of the ExportSearchTool (trial in German), mnpaid is exported as mnpsd, resulting in missing Add-ID, unfortunately blocking the use of read_validation_overview.

https://github.com/SwissClinicalTrialOrganisation/secuTrialR/blob/fb551f60dee4a2e3fa6e769e128b82bdfc741f9e/R/read_secuTrial_raw.R#L86

[2021-03-12 15:31] PatrickRWright commented on #235
Hi @miljukov-o `read_validation_overview()` is intended to read data from the validation report into R. The validation report is not retrieved via ExportSearchTool though, so maybe there is a misunderstanding here. You retrieve the validation report from the `Reports` section in DataCapture.

Also `mnpaid` being `mnpsd` in the German version doesn't ring any bell for me. Maybe you can give a littl

[2021-03-15 11:57] miljukov-o commented on #235
Dear @PatrickRWright  thank you very much for your reply.
read_validation_overview() was just an example, where a missing mnpaid causes problems.

I have to correct: I meant mnppsd not mnpsd.

If I rename the column mnppsd to mnpaid in the casenode csv file in my exported zip-file and then read that zip file into R, then there is no problem and I can use the function form_status_summary(), which d

[2021-03-15 14:53] PatrickRWright commented on #235
If you need to change things manually in the export I wouldn't be too sure that everything is working as expected/designed so this would not be my approach of choice. Also, the `mnppsd` is definitely not the `mnpaid`. I had a quick look into the secuTrial manuals and found the following description for `mnppsd`:

`mnppsd, Patient pseudonym, The random patient pesudonym. This identifier may not be

[2021-04-01 06:53] PatrickRWright commented on #235
I assume this is resolved.

[2021-04-01 06:53] #235 closed

[2021-04-21 16:09] DrEspresso opened #236 "Add new columns with `formname` and `fglabel` to repetition tables"
**Problem**

A single repetition group can be added to multiple forms, and even to multiple questions within the same form in secuTrial. In the export, the repetition tables _emnp..._ contain a column `docid` which identifies the parent document, and a column `fgid` which links to the table _questions_. For an user without background knowledge of secuTrial, it is difficult to resolve this link, as

[2021-12-06 13:29] suvi-subra opened #237 "read_secuTrial() not loading data downloaded in correct format"
I downloaded an export from secuTrial with the recommended options selected. However, read_secuTrial() is producing the following error:

Input to read_secuTrial() appears to be incompatible. It should be in CSV format and not be rectangular.
label_secuTrial() failed. Proceeding without labelling.
factorize_secuTrial() failed. Proceeding without factorization.
dates_secuTrial() failed. Proceeding

[2021-12-06 19:28] nicoleb7 opened #238 "assess_form_variable_completeness counts wrong missing, if same variable name exists in different forms"
**Describe the bug**
The function 'assess_form_variable_completeness' sometimes calculates a larger number of 'missing' than there are actually missing - only inspected for  `completeness = "allforms"`
In the wrongly calculated cases, the total of 'timesentered' and 'timesmissing' is greater than the number of forms.
I looked at the code.
I think the problem arises if:
- a) the same variable name

[2021-12-07 15:43] aghaynes commented on #238
Thanks for pointing this out. As you happen to have a dataset that causes the problem, would you be interested in trying to amend the code?

As a side note... I would say that it is bad practice to have variables in different forms with the same name... With secuTrialR, this will cause another issue, besides the one you mentioned - the labels  of the duplicate variable names will be of length 2 ra

[2022-01-12 17:26] gillesdutilh opened #239 "Form labels and "form table names""
When I read secuTrial data, I always have some difficulty getting to understand the structure and finding the forms I need. THe function visit_structure() is somewhat useful (in combination with plot()), but one problem is still that I then do not know which form table names belong to each form name (I would refer to these form names that you see in visit_structure as "form labels")

I would like

[2022-01-21 10:24] miljukov-o opened #240 "Order of appearnce of seperator in head, quotes and order of conditions matter when importing tables"
I had trouble reading in a SecuTrial export because some csv-files contained textfields with quotes (") in it. Which lead to incomplete table imports without any error or warning. I saw by coincidence, that some tables had unexpectedly less rows (patients) in the imported data frames and started searching for the cause.

The root cause lies in the correct specification of the parameters for the re

[2022-01-21 13:18] aghaynes commented on #240
Thanks for highlighting that... i think it should be possible to accommodate that.

Parsing the html is error prone unfortunately...

You need then the `sep`, `quote` and `allowEscapes` arguments? I think that I can see a way forward to implement that...

[2022-01-21 14:41] miljukov-o commented on #240
Yes, the arguments would be great.

[2022-02-02 12:39] aghaynes commented on #239
I remember why we didn't do much in this direction now... it gets difficult because the metadata isn't consistent with the names of the data frames, and it's not trivial to link them... it's particularly problematic where the short names option has been used... the mnpp1059 part in the example below is system and project specific if i remember correctly.

![grafik](https://user-images.githubuserco

[2022-02-02 13:59] aghaynes commented on #239
Is this useful? If so, I can add it...

[code]
an extra to do would be to modify the formtablename afterwards, but as I say, thats not so simple due to system specific stuff...

[2022-02-16 16:28] gillesdutilh commented on #239
I do not completely understand. There is a unique mapping between formname and formtablename, right? In that case, you can also give out a dictionary of formtablename and formname, right?

[2022-02-17 07:54] aghaynes commented on #239
the function above gives a dictionary of which variables are on which form... something slightly different to what you were asking, I know, but probably useful nonetheless...

And no (or at least not always) is there a unique mapping between formtablename and formname. Here's an example of a dataset I happen to working on at the moment. It looks like the forms were renamed at some point in the tri

[2022-02-17 14:34] gillesdutilh commented on #239
OK, I see the problem. So, each formtablename can be associated with multiple formnames. Not the other way around: each form name has one unique formatablename. Would it, at least for visit structure (and the plot of that) not be good to have an option showing which formtablename belongs to each formname?

[2022-02-18 09:35] aghaynes opened #241 "return a data dictionary"
**Is your feature request related to a problem? Please describe.**
Would be good to return a data dictionary to find which variables are on which forms

**Describe the solution you'd like**
`datadictionary(x)` or similar

**Describe alternatives you've considered**
See #239

[2022-02-18 09:48] aghaynes commented on #240
I think I have a solution for this, but I dont have any suitable data to test it on...  can you give me a couple of examples of the strings causing problems and the export options you use so that I can try to create a small export with the same issue for testing?

[2022-02-18 12:32] aghaynes commented on #239
think i found a solution... I can include formtablename in the output from visit_structure. then you can print the object, as opposed to plotting it...
![grafik](https://user-images.githubusercontent.com/6594028/154655904-d2d5fee6-5a03-4e25-a88e-7a7f072e7dde.png)

can you install it with `remotes::install_github("aghaynes/secuTrialR-1")` and give it a try?

[2022-03-07 10:05] aghaynes commented on #240
I implemented something for this, can you install it with `remotes::install_github("aghaynes/secuTrialR-1")` and give it a try?

[2022-03-10 13:26] miljukov-o commented on #240
Hi, thank you very much.

I've tried the new version. From initially 9 erroneous files 6 remained erroneous.
The first free text field that I could find, after which the error occured:

In SecuTrial Export:

Same field copied from DataCapture:

[2022-03-11 06:32] aghaynes commented on #240
So there are still errors, but less of them... any indication of whats causing the problem now?

The text you copied is normal. R needs to escape the quotation marks so that it doesnt treat them as multiple chunks of text. It uses backslashes for this purpose. It should be OK when you print or use it in a table or something.

That warning message doesn't look like it's a problem. I'll have a look

[2022-04-07 05:48] sgrieder opened #245 "read_export_options function fails for new secuTrial version"
New version of secuTrial (6.1.2.5 - 6.3.2.5) includes language tag in filename of ExportOptions (but only ExportOptions, not the other filenames). file_tag is assumed to be identical for table names and ExportOptions in read_export_options function. Corrected code to remove language tag from file tag and issued pull request for the change.

[2022-04-07 07:41] aghaynes opened #246 "function returning export date"
**Is your feature request related to a problem? Please describe.**
currently stored in the export options

**Describe the solution you'd like**
export_date(object) which returns the date the file was exported

[2022-04-12 11:53] #238 closed

[2022-04-12 11:53] #240 closed

[2022-04-12 11:53] #241 closed

[2022-04-12 11:53] #246 closed

[2022-04-12 14:09] #239 closed

[2022-04-12 14:10] aghaynes commented on #237
discussions with @suvi-subra have suggested that this was probably due to long names.

[2022-04-12 14:10] #237 closed

[2022-05-06 15:16] DrEspresso opened #250 "Rename data.frames to custom names in as.data.frame()"
**Is your feature request related to a problem? Please describe.**
Using the `data.frames` option in `as.data.frame()`, one can select a subset of secuTrial tables to be turned into data.frames. It is only possible to rename data.frames using the `regex ` and `rep` options in `as.data.frame()`. There is no option to rename data.frames into custom names.

**Describe the solution you'd like**
If the

[2022-05-09 07:01] aghaynes commented on #250
thanks for implementing!

[2022-05-09 07:01] #250 closed

[2022-06-17 11:18] aghaynes opened #252 "option to remove system variables and score/calculated fields from the data"
**Is your feature request related to a problem? Please describe.**

Most system variables are not useful and just take up space...

calculated fields should probably not be used in stats and should be recalculated instead

Both of these field types could thus be removed

**Describe the solution you'd like**
option to read_secutrial to drop them?

[2022-06-17 11:20] aghaynes commented on #220
this might now be fixed by #249 ?